/* some style */

* { box-sizing: border-box; }
body, html, #app { height: 100%; margin: 0; }


body {
  font: 16px 'PT Sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

#app {
  position: relative;
}

.app-container { display: grid; grid: "header" 50px "main" 1fr "footer" 50px; min-height: 100%; }
/* .app-container--sidebar { grid: "header header" 50px "sidebar main" 1fr "footer footer" 50px / 1fr 3fr; } */
.app-header-container { grid-area: header; }
.app-sidebar-container { position: absolute; left: 0; top: 0; height: 100%; width: 30%; z-index: 10; background-color: rgb(240, 240, 240); }
.app-main-container { grid-area: main; padding: 5px 0 5px 0; position: relative; }
.app-footer-container { grid-area: footer; }

/* Header settings */
header { height: 100%; display: grid; grid: "game-ctrl title view-ctrl" 2fr "game-ctrl subtitle view-ctrl" 1fr / 1fr 1fr 1fr; }
header a { color: inherit; text-decoration: inherit; }
header > .title { grid-area: title; height: 100%; margin: 0; font-size: 1rem; text-align: center; color: rgba(0, 0, 0, 0.4); }
header > .title strong { color: black; font-size: 1.5rem; font-weight: normal; }
header > .subtitle { grid-area: subtitle; text-align: center; margin: 0; }
header > .game-controls-container { grid-area: game-ctrl; }
header > .viewport-controls-container { grid-area: view-ctrl; }

/* game-controls */
.game-controls { display: grid; grid: "sidebar cmds-label cmds" 1fr "sidebar rates-label rates" 1fr / 5rem 1fr 2fr; height: 100%; }
.game-controls .cmds { grid-area: cmds; }
.game-controls .cmds-label { grid-area: cmds-label; }
.game-controls .rates { grid-area: rates; }
.game-controls .rates-label { grid-area: rates-label; }
.game-controls .sidebar { grid-area: sidebar; margin: auto 0 auto 0; }

/* viewport-controls */
.viewport-controls { display: grid; grid: "movers-label movers" 1fr "scalers-label scalers" 1fr / 1fr 2fr; }
.viewport-controls .movers { grid-area: movers; }
.viewport-controls .movers-label { grid-area: movers-label; }
.viewport-controls .scalers { grid-area: scalers; }
.viewport-controls .scalers-label { grid-area: scalers-label; }

/* sidebar */
.sidebar { display: grid; grid: "head" 3rem "body" 1fr "footer" 8rem; height: 100%; }
.sidebar .sidebar-header { grid-area: head; font-size: 1.5rem; margin: auto; font-weight: normal; }
.sidebar .sidebar-body { grid-area: body; }
.sidebar .saved-board { display: grid; grid: "name coords" 2fr "rle rle" 1fr / 1fr 1fr; cursor: pointer; padding: 0.5rem; border-top: 1px solid rgb(210, 210, 210); }
.sidebar .saved-board.selected, .saved-board:hover { background-color: rgba(0, 0, 0, 0.05); }
.sidebar .saved-board > .name { grid-area: name; font-size: 1.1rem; overflow: hidden; text-overflow: ellipsis; }
.sidebar .saved-board > .coords { grid-area: coords; font-size: 0.9rem; color: rgb(100, 100, 100); overflow: hidden; }
.sidebar .saved-board > .rle { grid-area: rle; font-size: 0.9rem; color: rgb(100, 100, 100); overflow: hidden; text-overflow: ellipsis; }
.sidebar .sidebar-footer { grid-area-: footer display: grid; grid: "in-label in-label" 1fr "in-text in-button" 1fr "out-label out-label" 1fr "out-text out-button" 1fr / 1fr 2fr; }
.sidebar .sidebar-footer > textarea { height: 1.2rem; }
.sidebar .sidebar-footer > label { display: block; padding-top: 0.5rem; }

/* Main settings */
.viewport-container { position: relative; width: 100%; height: 100%; }
.viewport-tiles { position: absolute; width: 100%; height: 100%; z-index: 2; }
.viewport-grid { position: absolute; width: 100%; height: 100%; z-index: 1; }

/* Footer settings */
footer { text-align: center; }
