/* some style */

* { box-sizing: border-box; }
body, html, #app { height:100%; margin: 0; overflow: hidden; }


body {
  font: 16px 'PT Sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

#app {
  position: relative;
}

.app-container { display: grid; grid: "header" 50px "main" 1fr "footer" 50px; min-height: 100%; }
.app-header-container { grid-area: header; }
.app-main-container { grid-area: main; padding: 5px 0 5px 0; }
.app-footer-container { grid-area: footer; }

/* Header settings */
header { height: 100%; display: grid; grid: "controls title help" 2fr "controls subtitle help" 1fr / 1fr 1fr 1fr; }
header a { color: inherit; text-decoration: inherit; }
header > .title { grid-area: title; height: 100%; margin: 0; font-size: 1.5rem; text-align: center; }
header > .subtitle { grid-area: subtitle; text-align: center; margin: 0; }
header > .controls-container { grid-area: controls; }

/* controls */
.controls { display: grid; grid: "cmds-label cmds" 1fr "rates-label rates" 1fr; }
.controls .cmds { grid-area: cmds; }
.controls .cmds-label { grid-area: cmds-label; }
.controls .rates { grid-area: rates; }
.controls .rates-label { grid-area: rates-label; }

/* Main settings */
#viewport { width: 100%; height: 100%; }

/* Footer settings */
footer { text-align: center; }
